<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.batna.smsretrieverlibrary">

    <application>

        <receiver android:name=".SmsRetriever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ir.batna.otpreader.SendBroadcastActivity" />
            </intent-filter>
        </receiver>

    </application>




</manifest>